* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 150px 20px 150px;
    
}

.nav-logo {
    display: flex;
    width: 180px;
}

.nav-data {
    display: flex;
    height: 30px;
    align-items: center;
    white-space: pre;
    justify-content:space-evenly;
    gap: 16px;
}

.search-icon,
.bookmark-icon,
.bell-icon,
.fa-circle,
#main-icons,
#topics {
    color: gray
}

.resume-membership {
    padding: 5px;
    border-radius: 10%/70%;
    border: 1px solid black;
}

.profile-icon {
    display: flex;
    border-radius: 50%;
    background-color: rgb(202, 61, 61);
    color: white;
    width: 30px;
    height: 30px;  
    align-content: center;
    justify-content: center;
}   
 
main {
    display: flex;
    padding: 0px 0px 0px 120px;
    background-color: rgb(243, 243, 243);
    opacity: 90%;
    background: linear-gradient(180deg, rgb(243, 243, 243) 0%, transparent 100% );
    z-index: 3;
    width: 100%;

}

.main-left {
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 60%;
    padding-right: 50px;
    border-right: 0.5px solid rgba(128, 128, 128, 0.74);
}

.main-right {
    display: flex;
    flex-direction: column;
    z-index: 3;
    background-color: aqua;
    width: 40%;
}

.nav-main {
    display: flex;
    gap: 20px;
    text-transform: capitalize;
    font-size: larger;
    padding-top: 50px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.74);
    margin-bottom: 40px;

}

.main-content {
    display: flex;
    margin-bottom: 40px;
}

.main-content-data {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content:flex-start;
}

.main-content-data-author {
    display: flex;
    gap: 5px;
    justify-content:flex-start;
}

.main-content-data-title {
    justify-content:flex-start;
}

.main-content-data-text {
    justify-content:flex-start;
    flex-wrap: wrap;
    padding-bottom: 10px;
    color: rgb(82, 82, 82);
}

.img-icon {
    object-fit: cover;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.main-content-data-features {
    display:flex;
    justify-content: space-between;
}

#point {
    transform: translateY(-4px);
}

#topics {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    font-size: 0.9em;
    
}

#main-icons {
    display: flex;
}

.main-content-img {
    padding-top: 30px;
    padding-left: 15px;
}
.content-image {
    width: 180px;
    height: 120px;
}