* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 150px 20px 150px;
    
}

.nav-logo {
    display: flex;
    width: 180px;
}

.nav-data {
    display: flex;
    height: 30px;
    align-items: center;
    white-space: pre;
    justify-content:space-evenly;
    gap: 16px;
}

.search-icon,
.bookmark-icon,
.bell-icon,
.fa-circle,
#main-icons,
#topics {
    color: gray
}

.resume-membership {
    padding: 5px;
    border-radius: 10%/70%;
    border: 1px solid black;
}

.profile-icon {
    display: flex;
    border-radius: 50%;
    background-color: rgb(202, 61, 61);
    color: white;
    width: 30px;
    height: 30px;  
    align-content: center;
    justify-content: center;
}   
 
main {
    display: flex;
    padding: 0px 0px 0px 120px;
    background-color: rgb(243, 243, 243);
    opacity: 90%;
    background: linear-gradient(180deg, rgb(243, 243, 243) 0%, transparent 100% );
    z-index: 3;
    

}

.main-left {
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 60%;
    padding-right: 50px;
    border-right: 0.5px solid rgba(128, 128, 128, 0.74);
}

.main-right {
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 40%;
    margin: 0px 115px 0px 50px;
}

.nav-main {
    display: flex;
    gap: 20px;
    text-transform: capitalize;
    font-size: larger;
    padding-top: 50px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.74);
    margin-bottom: 40px;

}

.main-content {
    display: flex;
    margin-bottom: 40px;
}

.main-content-data {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content:flex-start;
}

.main-content-data-author {
    display: flex;
    gap: 5px;
    justify-content:flex-start;
}

.main-content-data-title {
    justify-content:flex-start;
}

.main-content-data-text {
    justify-content:flex-start;
    flex-wrap: wrap;
    padding-bottom: 10px;
    color: rgb(82, 82, 82);
}

.img-icon {
    object-fit: cover;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.main-content-data-features {
    display:flex;
    justify-content: space-between;
}

#point {
    transform: translateY(-4px);
}

#topics {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    font-size: 0.9em;
    
}

#main-icons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding-right: 30px;
}

.main-content-img {
    padding-top: 30px;
    padding-left: 15px;
}
.content-image {
    width: 180px;
    height: 120px;
}

.main-right-twiter {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.74);
    padding-bottom: 25px;

}

.main-right-twiter-icons {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-top: 35px;

}   

#logo-medium-icon {
    width: 30px;

}

#plus {
    font-size: xx-large;
    font-weight: lighter;
    color: rgb(68, 68, 68);
}

#logo-twiter-icon {
    width: 40px;
}

.main-right-twiter-text {
    align-items: center;
    text-align: center;
    padding: 10px 0px;
}

.main-right-twiter-button {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10%/70%;
    padding: 0px 40px 0px 10px;
    margin-top: 10px;
}

.main-right-twiter-link {
    margin: 15px 0px;
    
}

a:visited,
a:hover,
a:active,
a:link {
    text-decoration: none;
    color:rgba(128, 128, 128, 0.74);
    text-decoration-line: underline;
    
}

.main-right-recommendedTopics {
    padding: 100px 0x;
}

.main-right-recommendedTopics-content {
    display: flex;
    flex-wrap: wrap;
}

#boxes {
    display: flex;
    gap: 20px;
    background-color: rgba(224, 222, 222, 0.719);
    padding: 4px 28px;
    margin: 5px 10px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10%/60%;
    object-fit: contain;

}

.main-right-whoToFollow {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

.main-right-whoToFollow-content {
    display: flex;
    justify-content: space-between;
    
}

#Steve-Jobs-icon {
    object-fit: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}