* {
    margin: 5px 15px;
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    align-content: space-between;
    column-gap: 60%;
    width: 100%;
    
    
}

.nav-logo {
    display: flex;
    width: 180px;
}

.nav-data {
    display: flex;
    height: 30px;
    justify-items: center;
    white-space: pre;

}

.profile-icon {
    border-radius: 50%;
    background-color: rgb(202, 61, 61);
    color: white;
    width: 30px;
    text-align: center;
    
}   